@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
    background-color:rgba(67, 66, 77);
    padding: 1vw;
    color: #E6FDFF;
    border-radius: 25%;
    transition: all .2s linear;
    
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: clamp(15px, 1.5vw, 30px);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #062F37;
}
.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: #0B5563;
} 

.swiper-pagination-bullet {
    background-color: rgb(230, 253, 255);
}
.swiper-pagination-bullet-active {
    background-color: rgb(230, 253, 255);
}
